@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

body {
    font-family: Jura;
    font-size: x-large;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}
li{
    height: 70px;
}

.dltButton {
    border: none;
    background: none;
}

.task-item .dltButton {
  display: none;
}

.task-item:hover .dltButton {
  display: inline;
}

.form-control {
    font-size: x-large;
    border: none;
    height: 70px;
    padding-left: 48px;
}

.form-control:focus{
    box-shadow: none;
}

.form-control::placeholder {
    color: rgb(154, 154, 154);
}

.footer-text {
    color: rgb(154, 154, 154);
    font-size: medium;
    padding-left: 20px;
    margin: auto;
}

.footer {
    padding-bottom: 20px;
}